/*
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
*/
html, body, button, div, h1, header, input, li, ul {
    margin: 0;
    padding: 0;
}
body {
    background: #1d365d;
    font-family: 'Open Sans', sans-serif;
}
input {
    border: none;
    background: none;
    font-family: 'Open Sans', sans-serif;
}
input, input:active, input:focus {
    outline: none;
}
li {
    list-style: none;
}
.clearfix:after {
    display: block;
    content: '';
    clear: both;
}

.calc {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background: rgba(255,255,255,0.2);
}
.calc__screen {
    width: 100%;
    height: 20%;
    background: rgba(255,255,255,0.3);
    position: relative;
}
.input {
    width: calc(100% - 20px);
    height: 40%;
    padding: 0 10px;
}
.output {
    width: calc(100% - 20px);
    height: 60%;
    padding: 0 10px;
    font-size: 20px;
    line-height: 60px;
    cursor: default;
    text-align: right;
}
.calc__buttons {
    width: 100%;
    height: 80%;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.calc__buttons ul {
    width: 100%;
    height: 100%;
}
.calc__buttons li {
    display: block;
    float: left;
    width: 25%;
    height: 20%;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    vertical-align: middle;
}
.calc__buttons li:hover {
    background: rgba(255,255,255,0.2);
    cursor: pointer;
}
.calc__buttons li:active {
    background: rgba(255,255,255,0.1);
    line-height: 78px;
}